<span class="" style="position: relative; display: inline-block; direction: ltr;">
    <input type="search" class="form-control " id="search-input" [placeholder]="placeholderName"
        aria-label="Search for..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
        aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
        style="position: relative; vertical-align: top;" (focus)="inputFocuson()" (focusout)="inputFoucuout()"
        (keyup)="filterKeyPress($event)" (click)="atcClicked($event)" #atcInput [(ngModel)]="stringToSearch"
        (input)="onSearchChange($event.target.value)">
    <pre aria-hidden="true" class="pre-custom">
</pre>
    <span class=" etx-autocomplete etx-autocomplete-data" role="listbox" id="algolia-autocomplete-listbox-0" #atcData
        id="{{idTemplate}}"
        [ngClass]="{'etx-autocomplete-display-none': !isVisible , 'etx-autocomplete-display-block': isVisible}">

        <div *ngFor="let product of productsToDisplay; let k=index"
            class="ds-dataset-1 d-flex align-self-center align-items-center" value="k" (click)="autocompleteSelected(k)"
            (mouseenter)="mouseOverAtcData(k)" [ngClass]="{'atcSelected': k==crtSelectedIndex}">
            {{product}}
        </div>

    </span>
</span>




<!-- Original fomr

<span class="algolia-autocomplete algolia-autocomplete-left"
    style="position: relative; display: inline-block; direction: ltr;">
    <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
        aria-label="Search for..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
        aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
        style="position: relative; vertical-align: top;" (focus)="filterAutocomplete()" (keyup)="filterKeyPress($event)"
        (click)="atcClicked($event)" (change)="change2()" #atcInput [(ngModel)]="stringToSearch">
    <pre aria-hidden="true" class="pre-custom">
</pre>
    <span class="ds-dropdown-menu ds-with-1 etx-autocomplete etx-autocomplete-data" role="listbox"
        id="algolia-autocomplete-listbox-0" (click)="autocompleteSelected('s')" #atcData id="atcData"
        [ngClass]="{'etx-autocomplete-display-none': !isVisible , 'etx-autocomplete-display-block': isVisible}">

        <div *ngFor="let product of productsToDisplay; let k=index"
            class="ds-dataset-1 d-flex align-self-center align-items-center" value="k" (click)="autocompleteSelected(k)"
            (mouseenter)="mouseOverAtcData(k)" [ngClass]="{'atcSelected': k==crtSelectedIndex}">
            {{product}}
        </div>

    </span>
</span>


 -->