.row-name {
  width: 15%;
}
.row-email {
  width: 25%;
}
.row-context {
  width: 15%;
}
.row-role {
  width: 5%;
}
.row-pwd {
  width: 20%;
}
.row-actions {
  width: 5%;
}
.user-view {
  margin-top: 2%;
}
