.contentView {
    margin-top: 5%;
}

.meunu-admin{
    border: 1px solid grey;
    margin: 1px;
    border-radius: 4px;
}

u {
    width: 100%;
    text-align-last: center;
}

.menu-selected {
    background-color:grey;
    color: silver;
}