<div class="container-fluid headerbar">
    <div class="row">
        <div class="col d-flex align-items-center">{{title}} </div>
        <div class="col d-flex align-items-center" role="button" (click)="menuOnSelect('necesar')"> <u>Necesar</u> </div>
        <div class="col d-flex align-items-center" role="button" (click)="menuOnSelect('comanda')"> <u>Comanda</u> </div>
        <div class="col d-flex align-items-center" role="button" (click)="menuOnSelect('istoric')"> <u>Istoric</u> </div>
        <div class="col d-flex align-items-center" role="button" (click)="menuOnSelect('admin')"> <u>Admin</u> </div>
        <div class="col d-flex flex-row-reverse">
            <button *ngIf="true" type="button" class="btn btn-success" (click)="login()">Login</button>
            <button *ngIf="true" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
            <div class="col d-flex align-items-center" role="button" > {{userName}} </div>
        </div>
    </div>
</div>
