<div class="view-comanda">
    <!-- Input data -->
    <div class="row input-data">
        <!-- select/input product -->
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
            <ng-template #productTemplate let-r="result" let-t="term">
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <input id="typeahead-necesar-products" type="text" class="form-control" [(ngModel)]="product"
                [ngbTypeahead]="searchProduct" (focus)="focus$.next($any($event).target.value)"
                [resultTemplate]="productTemplate" [inputFormatter]="formatterProduct" placeholder="Produs..."
                (click)="click$.next($any($event).target.value)" #productInput="ngbTypeahead" />
        </div>

        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
            <!-- select/input producer -->
            <ng-template #producerTemplate let-r="result" let-t="term">
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <input id="typeahead-necesar-producers" type="text" class="form-control" [(ngModel)]="producer"
                [ngbTypeahead]="searchProducer" (focus)="focus2$.next($any($event).target.value)"
                [resultTemplate]="producerTemplate" [inputFormatter]="formatterProducer" placeholder="Producator..."
                (click)="click2$.next($any($event).target.value)" #producerInput="ngbTypeahead" />
        </div>
        <!-- input qty -->
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  d-flex justify-content-end">
            <input class="form-control" type="text" placeholder="Cantitate">
        </div>
        <!-- send data -->
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="addProduct()">Adauga</button>
        </div>

    </div>

    <!-- Un artificial div that cover space above tabel. If not prezent this articifial div , when scroll in table
    a part of the row scrolled is visible above the table. this div cover that part
    -->
    <div class="coverAboveSpace">
        <div class="coverAboveSpaceIn"></div>
    </div>
    <!-- Tabels section -->
    <div class="row order-table">

        <div class=" ">

            <table class="">
                <thead>
                    <tr>

                        <th class="row-product">Produs
                            <span class="material-icons sortIcon ">
                                south
                            </span>
                            <span class="material-icons sortIcon">
                                north
                            </span>
                        </th>
                        <th class="row-producer">Producator
                            <span class="material-icons sortIcon ">
                                south
                            </span>
                            <span class="material-icons sortIcon">
                                north
                            </span>
                        </th>
                        <th class="row-qt">Cantitate</th>
                        <th class="row-obs">Observatii</th>
                        <th class="row-actions">Actiuni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of [1,2,3,4,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5]">

                        <td class="tabelRowLeft">
                            Produs {{row}}
                        </td>
                        <td class="tabelRowLeft">
                            Producator
                        </td>
                        <td class=" allignRight">
                            <input class="form-control form-control-sm allignRight" type="text" placeholder="123">
                        </td>
                        <td class=" tabelRowLeft">
                            <input class="form-control form-control-sm" type="text" placeholder="Observatii">
                        </td>
                        <td class=" row-actions">
                            <span class="material-icons saveIcon" title="Save">
                                save
                            </span>
                            <!-- <button type="button" class="btn btn-primary"  [routerLink]="['/login']">Join</button> -->
                            <span class="material-icons deleteIcon" title="Delete">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>