.row-product {
    width: 30%;
}
.row-producer {
    width: 15%;
}
.row-qt {
    width: 5%;
}
.row-obs {
    width: 30%;
}
.row-actions {
    width: 10%;
}
.input-data{
    margin-bottom: 1%;
}
.order-table {
    // height: 300px;
    height: 80% !important;
    overflow: scroll;
}
.view-comanda {
    height: 100%;
}