<div class="view-comanda">
    <!-- Input data -->
    <div class="row input-data">

        <!-- select/input product -->
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 " (keyup.enter)="onSelectProductKeyPress()">
            <ng-template #productTemplate let-r="result" let-t="term">
                <div (click)="onSelectProduct(r)" > 
                    <ngb-highlight [result]="r.name" [term]="t"   ></ngb-highlight>
                </div>
                
            </ng-template>
            <input id="typeahead-necesar-products" type="text" class="form-control" [(ngModel)]="product"
                [ngbTypeahead]="searchProduct" (focus)="focus$.next($any($event).target.value)"
                [resultTemplate]="productTemplate" [inputFormatter]="formatterProduct" placeholder="Produs..."
                (click)="click$.next($any($event).target.value)" (click)="$event.target.select()" 
                #productInput="ngbTypeahead" />
        </div>

        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" (keyup.enter)="onSelectProducerKeyPress()">
            <!-- select/input producer -->
            <ng-template #producerTemplate let-r="result" let-t="term">
                <div (click)="onSelectProducer(r)" >
                    <ngb-highlight [result]="r.name" [term]="t" ></ngb-highlight>
                </div>
                
            </ng-template>
            <input id="typeahead-necesar-producers" type="text" class="form-control" [(ngModel)]="producer"
                [ngbTypeahead]="searchProducer" (focus)="focus2$.next($any($event).target.value)"
                [resultTemplate]="producerTemplate" [inputFormatter]="formatterProducer" placeholder="Producator..."
                (click)="click2$.next($any($event).target.value)" (click)="$event.target.select()"
                #producerInput="ngbTypeahead" />
        </div>

        <!-- input qty -->
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1  d-flex justify-content-end">
            <input class="form-control" type="text" placeholder="Cantitate" #qty>
        </div>
        <!-- input obs -->
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  d-flex justify-content-end">
            <input class="form-control" type="text" placeholder="Observatii" #obs>
        </div>

        <!-- Buttons sections -->
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  d-flex justify-content-end">
            <!-- send data -->
            <div class=" col d-flex justify-content-end">
                <button type="button" class="btn btn-primary" (click)="addProduct(qty.value, obs.value)">
                    <span class="material-icons addIcon" title="Save">
                        save
                    </span>
                </button>
            </div>
            <!-- Refresh data -->
            <div class=" col d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="refreshNcessaryData()">
                    <span class="material-icons addIcon" title="Save">
                        cached
                    </span>
                </button>
            </div>

            <!-- Filter data -->
            <div class=" col d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="filterData()">
                    <span class="material-icons addIcon" title="Save">
                        filter_alt
                    </span>
                </button>
            </div>

        </div>


    </div>

    <!-- Un artificial div that cover space above tabel. If not prezent this articifial div , when scroll in table
    a part of the row scrolled is visible above the table. this div cover that part
    -->
    <div class="coverAboveSpace">
        <div class="coverAboveSpaceIn"></div>
    </div>
    <!-- Tabels section -->
    <div class="row order-table">

        <div class=" ">

            <table class="">
                <thead>
                    <tr>

                        <th class="row-product">Produs
                            <span class="material-icons sortIcon ">
                                south
                            </span>
                            <span class="material-icons sortIcon">
                                north
                            </span>
                        </th>
                        <th class="row-producer">Producator
                            <span class="material-icons sortIcon ">
                                south
                            </span>
                            <span class="material-icons sortIcon">
                                north
                            </span>
                        </th>
                        <th class="row-qt">Necesar</th>
                        <th class="row-qt">Comandat</th>
                        <th class="row-obs">Observatii</th>
                        <th class="row-actions">Actiuni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of necessaryList; let i=index" (click)="onSelectRow(row)">

                        <td class="tabelRowLeft">
                            {{row.product.name}}
                        </td>
                        <td class="tabelRowLeft">
                            {{row.product.producer.name}}
                        </td>
                        <td class=" allignRight">
                            <input class="form-control form-control-sm allignRight" type="text" value={{row.necessary}} 
                                #necessaryQty (click)="$event.target.select()" (change)="onChangeQty(necessaryQty.value)">
                        </td>
                        <td class=" allignRight">
                            <input class="form-control form-control-sm allignRight" type="text" value={{row.ordered}} disabled >
                        </td>
                        <td class=" tabelRowLeft">
                            <input class="form-control form-control-sm" type="text" value={{row.obs}}
                                #necessaryObs (click)="$event.target.select()" (change)="onChangeObs(necessaryObs.value)">
                        </td>
                        <td class=" row-actions allignCenter">
                            <span class="material-icons saveIcon " title="Save" (click)="updateNecesary(row)">
                                save
                            </span>
                            <span class="material-icons deleteIcon " title="Delete" (click)="deleteNecessary(row.id, i)">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>