<div class=" view-comanda">
    <!-- Input data -->
    <div class="row input-data">
        <!-- select/input product -->
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
            <ng-template #productTemplate let-r="result" let-t="term">
                <ngb-highlight [result]="r.name" [term]="t" (click)="onSelectProduct2(r)"></ngb-highlight>
            </ng-template>
            <input id="typeahead-necesar-products" type="text" class="form-control" [(ngModel)]="product"
                [ngbTypeahead]="searchProduct" (focus)="focus$.next($any($event).target.value)"
                [resultTemplate]="productTemplate" [inputFormatter]="formatterProduct" placeholder="Produs..."
                #productInput="ngbTypeahead" (click)="click$.next($any($event).target.value)"
                (click)="$event.target.select()" (change)="onSelectProductTest()" />
        </div>

        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 ">
            <!-- select/input producer -->
            <ng-template #producerTemplate let-r="result" let-t="term">
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <input id="typeahead-necesar-producers" type="text" class="form-control" [(ngModel)]="producer"
                [ngbTypeahead]="searchProducer" (focus)="focus2$.next($any($event).target.value)"
                [resultTemplate]="producerTemplate" [inputFormatter]="formatterProducer" placeholder="Producator..."
                (click)="click2$.next($any($event).target.value)" #producerInput="ngbTypeahead" />
        </div>
        <!-- PL Selection -->
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  d-flex justify-content-end">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Punct ...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <!-- Supplier Selection -->
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2  d-flex justify-content-end">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Furnizor...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <!-- Reset Button -->
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1  d-flex justify-content-end">
            <button type="button" class="btn btn-danger" (click)="resetButton()">Reset</button>
        </div>
        <!-- Reset Button -->
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1  d-flex justify-content-end">
            <button type="button" class="btn btn-success" >Refresh</button>
        </div>

    </div>

    <!-- Un artificial div that cover space above tabel. If not prezent this articifial div , when scroll in table
    a part of the row scrolled is visible above the table. this div cover that part
    -->
    <div class="coverAboveSpace">
        <div class="coverAboveSpaceIn"></div>
    </div>

    <!-- Tabel Produse Comanda -->
    <div class="row order-table">

        <div class=" ">
            <table class=" ">
                <thead>
                    <tr>
                        <th class="row-product">Produs
                            <span class="material-icons sortIcon ">
                                south
                            </span>
                            <span class="material-icons sortIcon">
                                north
                            </span>
                        </th>
                        <th class="row-producer">Producator
                            <span class="material-icons sortIcon ">
                                south
                            </span>
                            <span class="material-icons sortIcon">
                                north
                            </span>
                        </th>
                        <th class="row-qt">Necesar</th>
                        <th class="row-qt">Pret</th>
                        <th class="row-qt">Discount</th>
                        <th class="row-qt">PretFinal</th>
                        <th class="row-qt">Comanda</th>
                        <th class="row-obs">Observatii</th>
                        <th class="row-actions">Actiuni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2,3,3]">

                        <td class="tabelRowLeft row-product">
                            Produs {{row}}
                        </td>
                        <td class="tabelRowLeft row-producer">
                            Producator
                        </td>
                        <td class=" allignRight row-qt">
                            <input class="form-control form-control-sm allignRight" type="text" disabled
                                placeholder="Necesar">
                        </td>
                        <td class=" allignRight row-qt">
                            <input class="form-control form-control-sm allignRight" type="text" placeholder="Pret">
                        </td>
                        <td class=" allignRight row-qt">
                            <input class="form-control form-control-sm allignRight" type="text" placeholder="Discount">
                        </td>
                        <td class=" allignRight row-qt">
                            <input class="form-control form-control-sm allignRight" type="text" placeholder="PretFinal">
                        </td>
                        <td class=" allignRight row-qt">
                            <input class="form-control form-control-sm allignRight" type="text" placeholder="Comanda">
                        </td>
                        <td class=" tabelRowLeft row-obs">
                            <input class="form-control form-control-sm" type="text" placeholder="Observatii">
                        </td>
                        <td class=" row-actions allignRight">
                            <span class="material-icons saveIcon" title="Save">
                                save
                            </span>
                            <!-- <button type="button" class="btn btn-primary"  [routerLink]="['/login']">Join</button> -->
                            <span class="material-icons deleteIcon" title="Delete">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Tab selection bar -->
    <div class=" row tabs-bar">
        <!-- <div class="col d-flex align-items-center" role="button" > <u>Necesar / PL</u> </div>
        <div class="col d-flex align-items-center" role="button" > <u>Conditii Comerciale</u> </div>
        <div class="col d-flex align-items-center" role="button" > <u>Istoric Achizitii</u> </div> -->
        <div class="col d-flex justify-content-around">
            <button type="button" class="btn btn-success" (click)="onTabSelected('pl')">Necesar / PL</button>
            <button type="button" class="btn btn-success" (click)="onTabSelected('comercial')">Conditii
                Comerciale</button>
            <button type="button" class="btn btn-success" (click)="onTabSelected('history')">Istoric Achizitii</button>
        </div>

    </div>

    <!-- Details section tables -->

    <!-- Table PL -->
    <div *ngIf="activeTab == 'pl'" class="pl-table col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- Un artificial div that cover space above tabel. If not prezent this articifial div , when scroll in table
    a part of the row scrolled is visible above the table. this div cover that part
    -->
        <div class="coverAboveSpace">
            <div class="coverAboveSpaceIn"></div>
        </div>

        <!-- Table PL details order -->
        <div class="row ">

            <div class=" ">
                <table class=" ">
                    <thead>
                        <tr>
                            <th class="row-pl">Punct de lucru</th>
                            <th class="row-qt">Cantitate</th>
                            <th class="row-date">Data</th>
                            <th class="row-obs">Observatii</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2,3,3]">

                            <td class="tabelRowLeft row-pl">
                                Punct de lucru {{row}}
                            </td>
                            <td class="tabelRowRight row-qt">
                                3
                            </td>
                            <td class="tabelRowRight row-date">
                                28-01-2021
                            </td>
                            <td class="tabelRowLeft row-obs">
                                asdfasdfasdfadsfd asdf
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>




    <!-- Table Conditii -->
    <div *ngIf="activeTab == 'comercial'" class="pl-table col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- Un artificial div that cover space above tabel. If not prezent this articifial div , when scroll in table
a part of the row scrolled is visible above the table. this div cover that part
-->
        <div class="coverAboveSpace">
            <div class="coverAboveSpaceIn"></div>
        </div>

        <!-- Table PL details order -->
        <div class="row ">

            <div class=" ">
                <table class=" ">
                    <thead>
                        <tr>
                            <th class="row-pl">Furnizor</th>
                            <th class="row-qt">Pret</th>
                            <th class="row-qt">Discount</th>
                            <th class="row-qt">PretFinal</th>
                            <th class="row-obs">Obs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2,3,3]">

                            <td class="tabelRowLeft row-product">
                                Furnizor {{row}}
                            </td>
                            <td class="tabelRowRight row-price">
                                3
                            </td>
                            <td class="tabelRowRight row-qt">
                                34%
                            </td>
                            <td class="tabelRowRight row-price">
                                33
                            </td>
                            <td class="tabelRowRight row-obs">
                                asdfasdfasdfdsf
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- Table Istoric -->
    <div *ngIf="activeTab == 'history'" class="pl-table col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- Un artificial div that cover space above tabel. If not prezent this articifial div , when scroll in table
a part of the row scrolled is visible above the table. this div cover that part
-->
        <div class="coverAboveSpace">
            <div class="coverAboveSpaceIn"></div>
        </div>

        <!-- Table PL details order -->
        <div class="row ">

            <div class=" ">
                <table class=" ">
                    <thead>
                        <tr>
                            <th class="row-pl">Furnizor</th>
                            <th class="row-qt">Pret</th>
                            <th class="row-qt">Discount</th>
                            <th class="row-qt">PretFinal</th>
                            <th class="row-obs">Obs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2,3,3]">

                            <td class="tabelRowLeft row-product">
                                Furnizor {{row}}
                            </td>
                            <td class="tabelRowRight row-price">
                                3
                            </td>
                            <td class="tabelRowRight row-qt">
                                34%
                            </td>
                            <td class="tabelRowRight row-price">
                                33
                            </td>
                            <td class="tabelRowRight row-obs">
                                asdfasdfasdfdsf
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



</div>