.row-product {
    width: 20%;
}
.row-producer {
    width: 10%;
}
.row-qt {
    width: 5%;
}
.row-obs {
    width: 25%;
}
.row-actions {
    width: 7%;
}

.row-pl {
    width: 50%;
}
.row-date{
    width: 40%;
}
.input-data{
    margin-bottom: 1%;
}
select {
    width: 100%;
    border: 1px solid silver;
    border-radius: 3px;
    color: grey;
}
.view-comanda {
    height: 100%;
}
.order-table {
    // height: 300px;
    height: 50% !important;
    overflow: scroll;
}

.pl-table {
    height: 40% !important;
    overflow: scroll;
}

.coverAboveSpace {
    width: 100%;
    height: 5px;
    background-color: white;
    display: flex;
    z-index: 100;
}

.coverAboveSpaceIn {
    width: 100%;
    height: 110%;
    background-color: white;
    z-index: 100;
}